.modal {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 20%;
  z-index: 99;
  border-radius: 8px;
  color: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px 8px 0 0;

    &-closeBtn {
      background-color: inherit;
      color: #fff;
      border: none;
      font-size: 30px;
      &:hover {
        cursor: pointer;
        color: #000;
      }
    }
  }
  &__content {
    padding: 0 42px;
    &-text {
      font-size: 20px;
    }
    &__buttons {
      display: flex;
      margin-top: 42px;
      justify-content: center;
      flex-wrap: wrap;

      & .btn {
        width: 140px;
        &:hover {
          color: black;
        }
      }
    }
  }

  &-page-bg {
      position: absolute;
      background-color: black;
      opacity: 0.8;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
}
